@import "../../../styles/colors";

.movie-item {
  position: relative;
  display: block;
  min-height: 300px;
  border-radius: 5px;
  background-color: $bgColorLight;
  border: 1px solid $lightGray;

  &-rating {
    position: absolute;
    display: flex;
    align-items: center;
    top: 10px;
    left: 10px;
    background-color: $bgColorLight;
    border-radius: 5px;
    padding: 5px 10px;

    .material-symbols-outlined {
      margin-right: 5px;
      color: yellow;
    }
  }

  &-image {
    img {
      width: 100%;
      border-radius: 5px;
      height: 275px;
      object-fit: cover;
    }

  }

  &-title {
    font-weight: bold;
    margin: 0.5rem;
  }
}
